a {
  color: inherit;
}

.row {
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

ul.nav {
  margin-bottom: 3rem;
}

#date-filter {
  margin-bottom: 2rem;
}
